<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%= price %></h1>
    <input type="text">
    <button onclick="incrementPrice()">Increment price</button>

    <!-- <scrit src="./js/main.js"></script> -->
    <script>
        const h1 = document.querySelector('h1');
        const input = document.querySelector('input');
        const button = document.querySelector('button');

        function incrementPrice() {
            fetch(`/inc-price/${input.value}`, {
                    method: "GET",
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(res => res.json())
                .then(data => {
                    h1.innerText = data.count
                })
        }
    </script>
</body>

</html>